In [1]:
import numpy as np
import pandas as pd
pokemon = pd.read_csv(r"C:\Users\Krisna Sidiq\Downloads\Recruitment\Singa.id\pokemon.csv")
pokemon.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [2]:
pokemon = pokemon.rename(columns={"#": "ID"})
pokemon.head()

,ID,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [3]:
combat = pd.read_csv(r"C:\Users\Krisna Sidiq\Downloads\Recruitment\Singa.id\combats.csv")
combat.head()

   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151

In [4]:
print(pokemon.shape)
print(combat.shape)

(800, 12)
(50000, 3)

Cleaning Data

In [5]:
pokemon.isnull().sum()

ID              0
Name            1
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [6]:
print(pokemon[pokemon['Name'].isnull()])

    ID Name    Type 1 Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
62  63  NaN  Fighting    NaN  65     105       60       60       70     95

    Generation  Legendary
62           1      False

In [7]:
# check before 62
pokemon.at[61,'Name']

'Mankey'

In [8]:
# Fill in the name of pokemon according to what is on the internet
pokemon.at[62,'Name']= "Primeape"
print(pokemon.iloc[62])

ID                  63
Name          Primeape
Type 1        Fighting
Type 2             NaN
HP                  65
Attack             105
Defense             60
Sp. Atk             60
Sp. Def             70
Speed               95
Generation           1
Legendary        False
Name: 62, dtype: object

In [9]:
pokemon.duplicated(keep='first')

0      False
1      False
2      False
3      False
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Length: 800, dtype: bool

In [10]:
combat.isnull().sum()

First_pokemon     0
Second_pokemon    0
Winner            0
dtype: int64

In [11]:
combat.duplicated(keep='first')

0        False
1        False
2        False
3        False
4        False
         ...
49995    False
49996    False
49997     True
49998    False
49999    False
Length: 50000, dtype: bool

Organizing Data

In [12]:
winQty = combat.groupby('Winner').count()
winQty

        First_pokemon  Second_pokemon
Winner
1                  37              37
2                  46              46
3                  89              89
4                  70              70
5                  55              55
...               ...             ...
796                39              39
797               116             116
798                60              60
799                89              89
800                75              75

[783 rows x 2 columns]

In [13]:
winQty =winQty.drop('Second_pokemon',axis=1)
winQty =winQty.rename(columns={"First_pokemon": "Win_Qty"})
winQty

        Win_Qty
Winner
1            37
2            46
3            89
4            70
5            55
...         ...
796          39
797         116
798          60
799          89
800          75

[783 rows x 1 columns]

In [14]:
countFirst = combat.groupby('Second_pokemon').count()
countSecond = combat.groupby('First_pokemon').count()
countFirst

                First_pokemon  Winner
Second_pokemon
1                          63      63
2                          66      66
3                          64      64
4                          63      63
5                          62      62
...                       ...     ...
796                        56      56
797                        67      67
798                        59      59
799                        69      69
800                        60      60

[784 rows x 2 columns]

In [15]:
winQty['Total_Fights'] = countFirst.Winner + countSecond.Winner
winQty['Win_Percentage']= winQty.Win_Qty/winQty['Total_Fights']
winQty

        Win_Qty  Total_Fights  Win_Percentage
Winner
1            37           133        0.278195
2            46           121        0.380165
3            89           132        0.674242
4            70           125        0.560000
5            55           112        0.491071
...         ...           ...             ...
796          39           105        0.371429
797         116           131        0.885496
798          60           119        0.504202
799          89           144        0.618056
800          75           121        0.619835

[783 rows x 3 columns]

In [23]:
summary = pd.merge(pokemon, winQty, left_on='ID', right_index = True, how='left')
summary

,ID,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Win_Qty,Total_Fights,Win_Percentage
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,37.0,133.0,0.278195
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,46.0,121.0,0.380165
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,89.0,132.0,0.674242
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,70.0,125.0,0.560000
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,55.0,112.0,0.491071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,39.0,105.0,0.371429
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,116.0,131.0,0.885496
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,60.0,119.0,0.504202
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,89.0,144.0,0.618056
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,75.0,121.0,0.619835

Analysis

In [24]:
features = ['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed','Win_Percentage']
corr = summary[features]
corr

     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Win_Percentage
0    45      49       49       65       65     45        0.278195
1    60      62       63       80       80     60        0.380165
2    80      82       83      100      100     80        0.674242
3    80     100      123      122      120     80        0.560000
4    39      52       43       60       50     65        0.491071
..   ..     ...      ...      ...      ...    ...             ...
795  50     100      150      100      150     50        0.371429
796  50     160      110      160      110    110        0.885496
797  80     110       60      150      130     70        0.504202
798  80     160       60      170      130     80        0.618056
799  80     110      120      130       90     70        0.619835

[800 rows x 7 columns]

In [25]:
df_corr = corr.corr()
df_corr

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Win_Percentage
HP,1.000000,0.422386,0.239622,0.362380,0.378718,0.175952,0.258006
Attack,0.422386,1.000000,0.438687,0.396362,0.263990,0.381240,0.500181
Defense,0.239622,0.438687,1.000000,0.223549,0.510747,0.015227,0.129426
Sp. Atk,0.362380,0.396362,0.223549,1.000000,0.506121,0.473018,0.478940
Sp. Def,0.378718,0.263990,0.510747,0.506121,1.000000,0.259133,0.324218
Speed,0.175952,0.381240,0.015227,0.473018,0.259133,1.000000,0.937742
Win_Percentage,0.258006,0.500181,0.129426,0.478940,0.324218,0.937742,1.000000

Save Data

In [26]:
summary.to_csv('summary.csv', index=False)

Preparing Data for Prediction

In [58]:
pokemon = summary
pokemon

,ID,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Win_Qty,Total_Fights,Win_Percentage
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,37.0,133.0,0.278195
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,46.0,121.0,0.380165
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,89.0,132.0,0.674242
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,70.0,125.0,0.560000
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,55.0,112.0,0.491071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,39.0,105.0,0.371429
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,116.0,131.0,0.885496
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,60.0,119.0,0.504202
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,89.0,144.0,0.618056
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,75.0,121.0,0.619835

In [59]:
pokemon.isna().sum()

ID                  0
Name                0
Type 1              0
Type 2            386
HP                  0
Attack              0
Defense             0
Sp. Atk             0
Sp. Def             0
Speed               0
Generation          0
Legendary           0
Win_Qty            17
Total_Fights       17
Win_Percentage     17
dtype: int64

In [60]:
# Delete Nan in last three columns
pokemon = pokemon.dropna(subset=['Win_Qty'])
pokemon

,ID,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Win_Qty,Total_Fights,Win_Percentage
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,37.0,133.0,0.278195
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,46.0,121.0,0.380165
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,89.0,132.0,0.674242
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,70.0,125.0,0.560000
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,55.0,112.0,0.491071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,39.0,105.0,0.371429
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,116.0,131.0,0.885496
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,60.0,119.0,0.504202
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,89.0,144.0,0.618056
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,75.0,121.0,0.619835

In [61]:
pokemon.isna().sum()

ID                  0
Name                0
Type 1              0
Type 2            378
HP                  0
Attack              0
Defense             0
Sp. Atk             0
Sp. Def             0
Speed               0
Generation          0
Legendary           0
Win_Qty             0
Total_Fights        0
Win_Percentage      0
dtype: int64

In [62]:
# X is features, y is win_percentage
X = pokemon.iloc[:, 4:11].values
y = pokemon.iloc[:, -1].values

In [63]:
X

array([[ 45,  49,  49, ...,  65,  45,   1],
       [ 60,  62,  63, ...,  80,  60,   1],
       [ 80,  82,  83, ..., 100,  80,   1],
       ...,
       [ 80, 110,  60, ..., 130,  70,   6],
       [ 80, 160,  60, ..., 130,  80,   6],
       [ 80, 110, 120, ...,  90,  70,   6]], dtype=int64)

In [64]:
y

array([0.27819549, 0.38016529, 0.67424242, 0.56      , 0.49107143,
       0.54237288, 0.86466165, 0.85611511, 0.84444444, 0.16239316,
       0.41843972, 0.57638889, 0.14782609, 0.09774436, 0.625     ,
       0.23423423, 0.13076923, 0.625     , 0.96638655, 0.37301587,
       0.52892562, 0.86153846, 0.94444444, 0.48148148, 0.72142857,
       0.44927536, 0.83739837, 0.36641221, 0.576     , 0.68382353,
       0.8677686 , 0.53333333, 0.16806723, 0.38513514, 0.54098361,
       0.25      , 0.3984375 , 0.56428571, 0.15748031, 0.39837398,
       0.41085271, 0.81102362, 0.11538462, 0.37931034, 0.7578125 ,
       0.06293706, 0.21705426, 0.35483871, 0.0942029 , 0.19480519,
       0.22377622, 0.65714286, 0.53968254, 0.84375   , 0.65      ,
       0.85833333, 0.33098592, 0.68695652, 0.46610169, 0.78703704,
       0.45      , 0.79824561, 0.72      , 0.52307692, 0.32407407,
       0.66923077, 0.77142857, 0.78181818, 0.14      , 0.25806452,
       0.43965517, 0.21296296, 0.37190083, 0.50318471, 0.8034188 ,
       0.11851852, 0.21167883, 0.37037037, 0.74782609, 0.86666667,
       0.19672131, 0.15267176, 0.13793103, 0.16783217, 0.44827586,
       0.64925373, 0.84615385, 0.24369748, 0.51908397, 0.17605634,
       0.37593985, 0.18918919, 0.52985075, 0.4765625 , 0.69369369,
       0.77192982, 0.86259542, 0.48148148, 0.2189781 , 0.51260504,
       0.27737226, 0.59821429, 0.5840708 , 0.84496124, 0.23529412,
       0.38947368, 0.2027972 , 0.28333333, 0.640625  , 0.62142857,
       0.13970588, 0.13986014, 0.43410853, 0.28571429, 0.44444444,
       0.15306122, 0.37984496, 0.75396825, 0.8359375 , 0.41353383,
       0.66101695, 0.51282051, 0.48245614, 0.56338028, 0.89922481,
       0.55882353, 0.87943262, 0.73333333, 0.89147287, 0.74418605,
       0.65322581, 0.8677686 , 0.87179487, 0.17985612, 0.61654135,
       0.67883212, 0.43884892, 0.37373737, 0.52272727, 0.92537313,
       0.53030303, 0.1796875 , 0.1796875 , 0.35507246, 0.42957746,
       0.71818182, 0.96453901, 0.98449612, 0.35714286, 0.68345324,
       0.76859504, 0.73529412, 0.36752137, 0.5       , 0.63043478,
       0.92682927, 0.92592593, 0.952     , 0.83185841, 0.275     ,
       0.43362832, 0.68217054, 0.50413223, 0.60927152, 0.86206897,
       0.21969697, 0.44117647, 0.58695652, 0.072     , 0.67391304,
       0.32432432, 0.5       , 0.22764228, 0.62773723, 0.09489051,
       0.92622951, 0.52631579, 0.515625  , 0.34285714, 0.0625    ,
       0.04347826, 0.02459016, 0.23622047, 0.55172414, 0.72727273,
       0.16428571, 0.22222222, 0.34453782, 0.2890625 , 0.21582734,
       0.1557377 , 0.34375   , 0.24390244, 0.54621849, 0.40336134,
       0.55462185, 0.84444444, 0.70731707, 0.12612613, 0.16197183,
       0.72      , 0.048     , 0.25714286, 0.82394366, 0.52755906,
       0.82278481, 0.24242424, 0.63157895, 0.25984252, 0.13432836,
       0.578125  , 0.14678899, 0.30081301, 0.18978102, 0.69402985,
       0.16778523, 0.34482759, 0.15328467, 0.29411765, 0.69333333,
       0.608     , 0.55      , 0.69117647, 0.62307692, 0.9380531 ,
       0.23853211, 0.03252033, 0.07258065, 0.27819549, 0.30508475,
       0.20143885, 0.46621622, 0.32743363, 0.56923077, 0.59541985,
       0.52238806, 0.46031746, 0.79856115, 0.94814815, 0.64705882,
       0.29545455, 0.35294118, 0.49074074, 0.66666667, 0.37681159,
       0.13385827, 0.51798561, 0.36220472, 0.80555556, 0.61832061,
       0.8046875 , 0.3125    , 0.93814433, 0.81343284, 0.6446281 ,
       0.22727273, 0.29496403, 0.4057971 , 0.56451613, 0.8699187 ,
       0.71962617, 0.83458647, 0.44827586, 0.72380952, 0.92622951,
       0.94444444, 0.28467153, 0.36734694, 0.64227642, 0.84552846,
       0.16296296, 0.28378378, 0.47794118, 0.59230769, 0.23684211,
       0.63909774, 0.28971963, 0.81451613, 0.07246377, 0.02173913,
       0.52173913, 0.05263158, 0.39568345, 0.07936508, 0.28346457,
       0.56097561, 0.08730159, 0.42477876, 0.64227642, 0.688     ,
       0.90909091, 0.46666667, 0.47580645, 0.16083916, 0.26470588,
       0.64615385, 0.80833333, 0.3671875 , 0.4375    , 0.18055556,
       0.51538462, 0.1119403 , 0.64179104, 0.88666667, 0.21929825,
       0.92307692, 0.33064516, 0.11363636, 0.25874126, 0.51181102,
       0.11570248, 0.0962963 , 0.09285714, 0.23529412, 0.5       ,
       0.40495868, 0.43065693, 0.3902439 , 0.37588652, 0.22222222,
       0.25352113, 0.41176471, 0.32432432, 0.32374101, 0.73214286,
       0.7007874 , 0.56617647, 0.88      , 0.91791045, 0.75409836,
       0.60447761, 0.68468468, 0.65      , 0.45689655, 0.19090909,
       0.37190083, 0.51162791, 0.81060606, 0.95      , 0.40178571,
       0.42753623, 0.15833333, 0.23214286, 0.28244275, 0.272     ,
       0.30769231, 0.5462963 , 0.38095238, 0.29496403, 0.56451613,
       0.90517241, 0.17460317, 0.46478873, 0.29268293, 0.656     ,
       0.65693431, 0.66949153, 0.42657343, 0.53076923, 0.5       ,
       0.47297297, 0.33333333, 0.14193548, 0.28099174, 0.40939597,
       0.59836066, 0.12096774, 0.203125  , 0.54      , 0.33035714,
       0.26829268, 0.62015504, 0.52892562, 0.27419355, 0.26470588,
       0.5323741 , 0.65873016, 0.11363636, 0.17355372, 0.41791045,
       0.42622951, 0.68992248, 0.9352518 , 0.04615385, 0.30708661,
       0.60150376, 0.84782609, 0.0610687 , 0.23880597, 0.5033557 ,
       0.19827586, 0.36363636, 0.2890625 , 0.42537313, 0.60305344,
       0.304     , 0.3495935 , 0.82481752, 0.93984962, 0.15037594,
       0.30882353, 0.51818182, 0.86923077, 0.34722222, 0.23571429,
       0.30973451, 0.87218045, 0.856     , 0.89814815, 0.71875   ,
       0.73484848, 0.79699248, 0.75206612, 0.82857143, 0.94776119,
       0.87581699, 0.93396226, 0.90298507, 0.74172185, 0.91724138,
       0.11666667, 0.29545455, 0.34513274, 0.41964286, 0.64227642,
       0.91275168, 0.14285714, 0.2519084 , 0.46341463, 0.43548387,
       0.6302521 , 0.83088235, 0.14285714, 0.60431655, 0.08870968,
       0.51639344, 0.25899281, 0.44444444, 0.58333333, 0.28205128,
       0.69117647, 0.34313725, 0.3902439 , 0.112     , 0.19834711,
       0.14634146, 0.16666667, 0.17054264, 0.26086957, 0.48148148,
       0.42307692, 0.26771654, 0.73049645, 0.61261261, 0.90322581,
       0.11851852, 0.62280702, 0.11688312, 0.17741935, 0.91891892,
       0.62831858, 0.625     , 0.68888889, 0.90082645, 0.96124031,
       0.848     , 0.60683761, 0.93277311, 0.13821138, 0.56      ,
       0.71428571, 0.12727273, 0.26241135, 0.232     , 0.30833333,
       0.07692308, 0.74496644, 0.24576271, 0.25925926, 0.61654135,
       0.76377953, 0.70833333, 0.68644068, 0.392     , 0.75      ,
       0.88888889, 0.23809524, 0.29166667, 0.44680851, 0.73333333,
       0.25438596, 0.6640625 , 0.24561404, 0.51908397, 0.65546218,
       0.24074074, 0.18181818, 0.49586777, 0.42465753, 0.97478992,
       0.53389831, 0.27131783, 0.45192308, 0.384     , 0.76422764,
       0.71171171, 0.57936508, 0.79824561, 0.82781457, 0.47761194,
       0.82575758, 0.5862069 , 0.70068027, 0.62773723, 0.86153846,
       0.2       , 0.29411765, 0.65942029, 0.59166667, 0.69911504,
       0.77586207, 0.703125  , 0.72727273, 0.73134328, 0.74796748,
       0.59398496, 0.9037037 , 0.78807947, 0.77181208, 0.64885496,
       0.85915493, 0.66666667, 0.6641791 , 0.66949153, 0.56060606,
       0.88059701, 0.94017094, 0.86029412, 0.94067797, 0.93442623,
       0.8778626 , 0.45945946, 0.90151515, 0.25954198, 0.38194444,
       0.52173913, 0.25      , 0.39344262, 0.56521739, 0.18518519,
       0.51879699, 0.29      , 0.38405797, 0.62068966, 0.51754386,
       0.91111111, 0.40769231, 0.80916031, 0.46153846, 0.88976378,
       0.35897436, 0.84962406, 0.0390625 , 0.06818182, 0.29220779,
       0.48387097, 0.78461538, 0.59259259, 0.93457944, 0.1875    ,
       0.33587786, 0.40540541, 0.58536585, 0.88793103, 0.64220183,
       0.77443609, 0.34586466, 0.36363636, 0.18666667, 0.21186441,
       0.3       , 0.45588235, 0.43548387, 0.57142857, 0.2244898 ,
       0.625     , 0.25735294, 0.21138211, 0.79338843, 0.28030303,
       0.26262626, 0.92982456, 0.36220472, 0.88888889, 0.15753425,
       0.71653543, 0.80909091, 0.53731343, 0.57522124, 0.84090909,
       0.36290323, 0.81954887, 0.35245902, 0.32575758, 0.33613445,
       0.29357798, 0.50413223, 0.71710526, 0.21428571, 0.24590164,
       0.23255814, 0.32142857, 0.55932203, 0.9140625 , 0.41880342,
       0.6       , 0.50381679, 0.88495575, 0.59459459, 0.8778626 ,
       0.208     , 0.30081301, 0.4887218 , 0.03100775, 0.07258065,
       0.15      , 0.36290323, 0.86554622, 0.16363636, 0.43650794,
       0.664     , 0.58823529, 0.74166667, 0.79824561, 0.43801653,
       0.58064516, 0.11666667, 0.20661157, 0.31818182, 0.51515152,
       0.46376812, 0.83941606, 0.1981982 , 0.44852941, 0.10619469,
       0.2231405 , 0.75572519, 0.35714286, 0.203125  , 0.30630631,
       0.13207547, 0.15671642, 0.13675214, 0.42222222, 0.60714286,
       0.37777778, 0.45736434, 0.82677165, 0.26956522, 0.37209302,
       0.80405405, 0.08870968, 0.921875  , 0.20138889, 0.50769231,
       0.92366412, 0.27857143, 0.3125    , 0.57142857, 0.52293578,
       0.60992908, 0.40336134, 0.33606557, 0.69230769, 0.45901639,
       0.62585034, 0.47107438, 0.88059701, 0.27419355, 0.41304348,
       0.82170543, 0.42335766, 0.75182482, 0.9140625 , 0.85365854,
       0.896     , 0.84684685, 0.968     , 0.864     , 0.86086957,
       0.728     , 0.64935065, 0.87254902, 0.85496183, 0.7734375 ,
       0.77      , 0.78125   , 0.86206897, 0.89256198, 0.69014085,
       0.95934959, 0.8203125 , 0.17567568, 0.40336134, 0.45967742,
       0.33884298, 0.5826087 , 0.82539683, 0.568     , 0.76978417,
       0.96062992, 0.38938053, 0.53125   , 0.40441176, 0.72440945,
       0.90909091, 0.08208955, 0.07518797, 0.66666667, 0.44354839,
       0.80991736, 0.22516556, 0.39669421, 0.62809917, 0.36220472,
       0.48062016, 0.22033898, 0.37398374, 0.86259542, 0.51785714,
       0.79130435, 0.73228346, 0.3125    , 0.33333333, 0.5       ,
       0.52066116, 0.06015038, 0.19379845, 0.33884298, 0.61832061,
       0.30909091, 0.6835443 , 0.28682171, 0.51492537, 0.11290323,
       0.19871795, 0.13709677, 0.43537415, 0.52678571, 0.78333333,
       0.31775701, 0.53947368, 0.23140496, 0.46212121, 0.40163934,
       0.88429752, 0.87903226, 0.25714286, 0.21367521, 0.45384615,
       0.60377358, 0.57377049, 0.23913043, 0.39333333, 0.42608696,
       0.4214876 , 0.2519084 , 0.71875   , 0.80991736, 0.57258065,
       0.39393939, 0.09302326, 0.29752066, 0.31496063, 0.93043478,
       0.82945736, 0.81021898, 0.74766355, 0.37142857, 0.88549618,
       0.50420168, 0.61805556, 0.61983471])

In [65]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
X_train.shape

(626, 7)

Model

In [66]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from math import sqrt

In [67]:
model_linear = LinearRegression()
model_SVM = SVR(kernel = 'linear')
model_tree = DecisionTreeRegressor(random_state = 0)
model_forest = RandomForestRegressor(n_estimators = 10, random_state = 0)

In [68]:
def train(X_train, X_test, y_train, y_test,model):
    model.fit(X_train, y_train)
    print("Score:" , model.score(X_train, y_train))

    y_pred = model.predict(X_test)

    mae = mean_absolute_error(y_test, y_pred)
    print("MAE: " + str(mae))

In [69]:
print("Linear Regression")
train(X_train, X_test, y_train, y_test,model_linear)

Linear Regression
Score: 0.9086804453503223
MAE: 0.06130011878545476

In [70]:
print("SVM")
train(X_train, X_test, y_train, y_test,model_SVM)

SVM
Score: 0.9070061319249877
MAE: 0.06372492881825428

In [71]:
print("Decision Tree")
train(X_train, X_test, y_train, y_test,model_tree)

Decision Tree
Score: 0.9997364519875158
MAE: 0.056058422790240606

In [72]:
print("Random Forest")
train(X_train, X_test, y_train, y_test,model_forest)

Random Forest
Score: 0.9904321126678309
MAE: 0.04919730733189687

Based on the score and MAE, the random forest is the best model because it has a low MAE but a high score

Build Prediction

In [73]:
pokemon

,ID,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Win_Qty,Total_Fights,Win_Percentage
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,37.0,133.0,0.278195
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,46.0,121.0,0.380165
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,89.0,132.0,0.674242
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,70.0,125.0,0.560000
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,55.0,112.0,0.491071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,39.0,105.0,0.371429
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,116.0,131.0,0.885496
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,60.0,119.0,0.504202
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,89.0,144.0,0.618056
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,75.0,121.0,0.619835

In [114]:
def battle(pokemon1_name, pokemon2_name):
    if (pokemon1_name not in pokemon.values) or (pokemon2_name not in pokemon.values):
        print('Maaf, data tidak ditemukan.')
        return

    # get data for the two pokemon
    pokemon1_data = pokemon.loc[pokemon['Name']==pokemon1_name, 'HP':'Generation']
    pokemon2_data = pokemon.loc[pokemon['Name']==pokemon2_name, 'HP':'Generation']

    # combine the X data into a single array
    X = pd.concat([pd.DataFrame(pokemon1_data), pd.DataFrame(pokemon2_data)], axis=0, ignore_index=True)

    # make a prediction using the trained model
    prediction = model_forest.predict(X)
    
    # calculate the probability of each pokemon winning
    prob1 = sum(prediction[:len(pokemon1_data)]) / len(pokemon1_data)
    prob2 = sum(prediction[len(pokemon1_data):]) / len(pokemon2_data)
    
    # print the result
    if prob1 > prob2:
        print(f"{pokemon1_name} has a {prob1:.2%} chance of winning.")
    else:
        print(f"{pokemon2_name} has a {prob2:.2%} chance of winning.")

In [110]:
# remove warning notification
import warnings
warnings.filterwarnings('ignore')

In [118]:
battle('Mega Venusaur', 'Mega Diancie')

Mega Diancie has a 88.54% chance of winning.

In [115]:
battle('Pikachu', 'Mewtwo')

Mewtwo has a 93.39% chance of winning.

In [116]:
battle('Pikachu', 'Charizard')

Charizard has a 85.63% chance of winning.

In [117]:
battle('Agumon', 'Patamon')

Maaf, data tidak ditemukan.